@media screen and (max-width: 1000px) {

    header {
        font-size: 12px;
    }

    .header-logo {
        margin: 0px 5px;
        letter-spacing: 0px;
    }

    .header-list a {
        padding: 5px 5px;
        color: white;
        letter-spacing: 1px;
        float: right;
        margin: 5px 5px;
    }

    .header-a {
        height: 50px;
    }

    .header-b {
        margin-top: 55px;
        letter-spacing: 5px;
        width: 100%;
    }

    .header-b .img-header img {
        width: 100%;
        background-size: cover;
        object-fit: cover;
        object-position: center;
    }

    #container-card {
        width: 100%;
        box-sizing: border-box;
        margin-left: 10px;
        margin-right: 10px;
    }

    main {
        display: block;
    }

    .about-us .contents .left{
        width:100%;
    }
    .about-us .contents .right{
        width:100%;
        padding-top:30px;
    }
    .services .contents .box{
        width:100%;
    }

    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }

    .footer-items{
        width: 50%;
    }

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .header-list {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    #container-card {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        box-sizing: border-box;
    }

    #form-card{
        display: block;
    }

    #input-name{
        width: 100%;
    }

    #input-email{
        width: 100%;
    }
    header {
        font-size: 10px;
    }

    .lesson {
        width: 100%;
    }

    .footer-items{
        width: 100%;
    }
}