@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

.header-logo {
	float: left;
	margin: 0px 10px;
	letter-spacing: 1px;
}

.header-a {
	height: 65px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	font-family: "Bernard MT Condensed";
	color: white;
	animation-name: example;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.header-a h2 {
	color: #fff;
}

.header-list a {
	padding: 10px 10px;
	color: white;
	letter-spacing: 2px;
	float: right;
	margin: 10px 10px;
	list-style: none;
	text-decoration: none;
}

.header-list a:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.header-b {
	font-family: "Bernard MT Condensed";
	color: #00121b;
	width: 100%;
	margin-top: 90px;

}

.header-b h3 {
	margin-top: 20px;
	letter-spacing: 10px;
}

.header-b .img-header img {
	height: 800px;
	width: 100%;
	background-size: cover;
	object-fit: cover;
	object-position: center;
}

.menu-icon {
	color: white;
	float: right;
	font-size: 25px;
	padding: 10px 10px;
	display: none;
}

@keyframes example {
	from {
		background-color: #00121b;
	}

	to {
		background-color: rgba(34, 49, 52, 0.9);
	}
}

.container {
	max-width: 1140px;
	margin: auto;
	min-height: 1px;
}

.about-us {
	background-color: #fff;
	padding: 80px 15px;
	float: left;
	width: 100%;
}

.about-us h1 {
	font-size: 36px;
	text-align: center;
	padding-bottom: 50px;
	color: #000000;
	margin: 0;
}

.about-us .contents {
	width: 100%;
	float: left;
}

.about-us .contents .left {
	width: 35%;
	float: left;
	padding: 0px 15px;
}

.about-us .contents .left img {
	width: 100%;
}

.about-us .contents .right {
	float: left;
	padding: 0px 15px;
	width: 65%;
}

.about-us .contents .right h4 {
	margin: 0px;
	color: #000000;
	font-size: 20px;
	padding: 0;
}

.about-us .contents .right p {
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 25px;
	color: #444444;
	margin: 10px 0px;
	text-align: justify;

}

.services {
	width: 100%;
	float: left;
	padding: 80px 15px;
}

.services h1 {
	font-size: 36px;
	text-align: center;
	margin: 0;
	padding-bottom: 50px;
	color: #000000;
}

.services .contents {
	width: 100%;
	float: left;
}

.services .contents .box {
	padding: 15px;
	width: 33.33%;
	float: left;
}

.services .contents .box .inner {
	padding: 15px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #cccccc;
	transition: box-shadow .5s ease;
}

.services .contents .box .inner:hover {
	box-shadow: 0px 0px 10px gray;
}

.services .contents .box .inner img {
	width:100px;
	height: 100px;
}

.services .contents .box .inner h4 {
	margin: 10px 0px;
	color: #000000;
	font-size: 20px;
}


.services .contents .box .inner p {
	line-height: 24px;
	font-size: 16px;
	color: #444444;
	letter-spacing: .5px;
}


.container2 {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	overflow: auto;
}

.heading h2 {
	font-size: 36px;
	color: #000;
}

.fa {
	color: #000;
	text-align: left;
	margin-right: 5px;
}


.lesson-wrapper {
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}

.heading {
	padding-top: 80px;
	padding-bottom: 50px;
	color: #5f5d60;
}

.heading h2 {
	font-size: 36px;
	text-align: center;
	padding-bottom: 50px;
	color: #000000;
	margin: 0;
}

.lesson {
	float: left;
	width: 20%;
}

.lesson-icon {
	position: relative;
}

.lesson-icon p {
	position: absolute;
	top: 44%;
	width: 100%;
	color: white;
}

.text-contents {
	width: 80%;
	display: inline-block;
	margin-top: 15px;
	font-size: 15px;
	color: #000000;
	text-align: left;
}

.text-contents span {
	font-weight: 700;
}


#container-card {
	margin: 16px 25%;
	padding: 16px;
	background-color: #f5f6f8;
	border-radius: 24px;
	margin-top: 80px;
	margin-bottom: 80px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#title-text {
	color: #000;
	text-align: center;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}

#subtitle-text {
	text-align: center;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}

#form-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	align-content: center;
	justify-content: center;
}

#input-name {
	margin: 16px;
	float: left;
	font-family: 'Montserrat', sans-serif;
}

#input-email {
	margin: 16px;
	float: right;
	font-family: 'Montserrat', sans-serif;
}

#input-kritik {
	margin: 16px;
	font-family: 'Montserrat', sans-serif;
}

#button-div {
	margin: 16px 16px;
	font-family: 'Montserrat', sans-serif;
}

label {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.first-input {
	height: 24px;
	width: 100%;
	padding: 8px;
}

#kritik {
	height: 160px;
	width: 100%;
	padding: 8px;
}

#submit-button {
	height: 36px;
	width: 100%;
	color: #f5f6f8;
	background-color: #00121b;
}

.footer {
	width: 100%;
	background: #00121b;
	display: block;
}

.inner-footer {
	width: 95%;
	margin: auto;
	padding: 30ox 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
}

h1 {
	padding: 10px 0px;
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
}

.footer-items p {
	color: grey;
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
}

h2 {
	margin-left: 40px;
	color: grey;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
}

.border {
	height: 2px;
	width: 50px;
	margin-left: 40px;
	background: #ff9800;
}

.footer-items ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;
	margin-left: 0px;
}

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 10px 0;
	height: 25px;
}

.footer-bottom {
	padding: 10px;
	background: #3d545f;
	color: #fff;
	font-size: 12px;
	text-align: center;
}